@model AppAspNetCore.Models.MealCategory

@{
    ViewData["Title"] = "Edit Meal - " + Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Edit Category Meal</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminMeals" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Meal Lists</a>
            <span class="breadcrumb-item active">Edit Category Meal</span>
        </nav>
    </div>
</div>
<form asp-controller="AdminMeals" asp-action="Edit" asp-route-id="@Model.MealCategoryId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MealCategoryId">
    <input type="hidden" asp-for="Image">
    <input type="hidden" asp-for="CreateTime">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                    <img width="120" height="120" src="~/images/meals/@Model.Image" alt="@Model.Name">
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">@Model.Name</h4>
                    <p class="text-muted m-b-0">Meal Category ID: @Model.MealCategoryId</p>
                </div>
            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save Changed</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs" >
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic" >
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="mealName">Meal Category Name</label>
                        <input type="text" class="form-control" asp-for=Name>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="Title">Title</label>
                            <input type="text" class="form-control" asp-for="Title">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="Description">Description</label>
                            <input type="text" class="form-control" asp-for="Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="image">Image</label>
                        <input type="fTh" type="file" class="form-control" asp-for="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>